{% extends "app/layout.html" %}

{% block content %}
<div class="container body-content">
    <h2>{{ title }}</h2>
    {% for post in posts %}
    <div class="blog blog-default">
        <h2> {{post.title}} </h2>
        <h4> {{post.posted}} </h4>
        <p> {{post.description}} </p>
        <p><a class="read-more-btn" href="{% url 'blogpost' parametr=post.id %}">Читать далее</a></p>
    </div>
    <br /><br />
    {% endfor %}
    <hr />
    <footer>
        <p>&copy; {{ year }} - Solo Users Community</p>
    </footer>
</div>
{% endblock %}
