{% extends "app/layout.html" %}

{% block content %}
<div class="container body-content">
    <h3>Добавить статью</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {# защита от атак CSRF#}
        <div>
            {{ blogform.as_p }}
            <button type="submit" class="save btn btn-default">Сохранить статью</button>
        </div>
    </form>
    <hr />
    <footer>
        <p>&copy; {{ year }} - Solo Users Community</p>
    </footer>
</div>
{% endblock %}
