{% extends "app/layout.html" %}

{% block content %}

<div class="container body-content">
    <h2>{{ title }}</h2>
    {% if orders %}
    <table>
        <thead>
            <tr>
                <th>Заказ №</th>
                <th>Статус</th>
                <th>Дата</th>
                <th>Стоимость</th>
                <th>Детали</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.created_at|date:"Y-m-d H:i:s" }}</td>
                <td>{{ order.total_price }} руб.</td>
                <td><a href="{% url 'order_detail' order.id %}">Подробнее</a></td>
                <td><a href="{% url 'delete_order' order.id %}">Удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>У Вас нету заказов.</p>
    {% endif %}
    <hr />
    <footer>
        <p>&copy; {{ year }} - Solo Users Community</p>
    </footer>
</div>
{% endblock %}