{% extends "app/layout.html" %}

{% block content %}
<body>
    <div class="container body-content">
        <div class="product-position">
            <br />
            <div class="product-detail">
                <div class="myCarousel-position">
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{{ product.image }}" alt="Первый слайд" class="img-responsive" />
                            </div>
                            <div class="item">
                                <img src="{{ product.image_2 }}" alt="Второй слайд" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <p class="product-name">{{ product.name }}</p>
                {% if product.sizes %}
                <p class="product-sizes"> Размеры: {{ product.sizes }}</p>
                {% endif %}
                <p class="product-description">{{ product.description }}</p>
                <p class="product-price">Цена: {{ product.price }} руб.</p>
                <!-- Добавленная кнопка "Купить" -->
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_to_cart' product.id %}" id="buy-form">
                    {% csrf_token %}
                    <input type="submit" value="Купить">
                </form>
                {% endif %}
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; {{ year }} - Solo Users Community</p>
        </footer>
    </div>
</body>
{% endblock %}
