body {
    padding-top: 50px;
}

/* Устанавливаем отступы, что бы содержимое не касалось краёв */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Устанавливаем ширину элементов ввода формы, поскольку по умолчанию они имеют ширину 100% */
input,
select,
textarea {
    max-width: 280px;
}

/* Стили для помощников проверки */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar,
.navbar-inverse,
.navbar-fixed-top {
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    margin: 0;
    border: 0;
}

.navbar-header,
.navbar-brand,
.navbar-collapse,
.collapse {
    height: 50px;
    padding: 0;
}

.logo {
    width: auto;
    height: 50px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.icon_for_urls img {
    width: 140px;
    height: 140px;
}

.AuthorDateComment {
    font-size: 16px;
}

.AuthorDateComment b {
    color: #00BAF8;
}

.AuthorDateComment a {
    color: #A1AEB2;
    text-decoration: none;
}

#main-section {
    height: 840px;
    margin: 0;
    padding: 0;
    display: flex; /* Устанавливаем флекс-контейнер для родительского элемента */
    justify-content: space-between; /* Распределяем дочерние элементы равномерно по горизонтали */
    align-items: stretch; /* Растягиваем дочерние элементы по вертикали, чтобы они заняли всю высоту */
}

.side-left, .main-content, .side-right {
    flex: 1; /* Делаем дочерние элементы флекс-элементами, чтобы они занимали равное пространство по горизонтали */
    display: flex; /* Устанавливаем флекс-контейнеры для дочерних элементов */
    flex-direction: column; /* Столбец */
    align-items: center; /* Выравнивание по центру по горизонтали */
    text-align: center; /* Выравнивание текста по центру */
}

.main-text {
    margin: 0;
    font-size: 30px;
    color: black;
    white-space: pre-line; /* Сохраняет переносы строк и пробелы */
    padding: 15px 0;
    font-weight: bold;
    font-family: 'Times New Roman';
}

#myCarousel {
    padding: 15px 0;
}

.carousel-inner {
    width: 840px;
    height: 515px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

.carousel-caption p {
    font-size: 18px;
}

.right.carousel-control, .left.carousel-control {
    margin: 15px 0;
}

/*Правая стрелка карусели*/
.right.carousel-control {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

/*Левая стрелка карусели*/
.left.carousel-control {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.main-button-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Центрируем кнопки по горизонтали */
}

.main-button-container div {
    flex: 1;
}

.main-button-container button {
    height: 77px;
    margin: 0 10px;
    background: white;
    border: none;
}

/*Стилизация меню - Главная */
.social-link, .main-button {
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Добавляем переходный эффект для плавной анимации */
}

.social-link:hover, .main-button:hover {
    border-color: #cccccc;
    background-color: #f5f5f5; /* Цвет подсветки при наведении */
}

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.main-button img {
    width: 62px;
    height: 62px;
    margin-right: 5px;
}

.main-button .icon-small {
    width: 75px;
    height: 75px;
}

.textHelpButton {
    text-align: center;
}

.main-button span {
    font-size: 18px;
    white-space: pre-line; /* Сохраняет переносы строк и пробелы */
}

.main-button p {
    font-size: 12px;
}

.side-right-container, .side-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.side-right-container a, .side-left-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /* Убираем подчеркивание под ссылкой */
}

.side-right-container img, .side-left-container img {
    width: 140px;
    height: 140px;
}

.side-right-container span, .side-left-container span {
    color: black;
    text-align: center;
    font-size: 34px;
    font-family: 'Times New Roman';
}

/*Стилизация меню - Блог */
.blog.blog-default {
    border-color: #cccccc
}

.blog {
    display: inline-block;
    padding: 0 12px;
    margin-bottom: 0;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Добавляем переходный эффект для плавной анимации */
}

.blog:hover {
    background-color: #f5f5f5; /* Цвет подсветки при наведении */
}

.read-more-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Добавляем переходный эффект для плавной анимации */
}

.read-more-btn:hover {
    background-color: rgba(0, 123, 255, 0); /* Цвет подсветки при наведении прозрачный */
}

.welcomeUser {
    font-size: 20px;
}

#id_text {
    resize: none;
    white-space: pre-line;
}

/*Для магазина*/
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.product-item {
    text-align: center;
    border: 1px solid #ddd;  /* Добавление обводки */
    padding: 10px;  /* Добавление отступа внутри товара */
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item p {
    margin: 10px 0;  /* Добавление отступа между названием товара и изображением */
}

.product-position #myCarousel,
.product-position .img-responsive,
.product-position .carousel-inner,
.product-position .carousel-control {
    width: 320px;
    height: 320px;
    border-radius: 0;
    padding: 0;
}

.myCarousel-position {
    border: 2px solid #333; /* Цвет и толщина обводки для изображения товара */
    width: 342px;
}

.myCarousel-position {
    display: flex;
    justify-content: center;
}

.product-detail, .product-info {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.product-info {
    border: 1px solid #ddd; /* Цвет и толщина обводки для информации о товаре */
    padding: 10px; /* Внутренний отступ для информации о товаре */
    margin-top: 10px; /* Внешний отступ сверху для информации о товаре */
    margin-left: auto;
    margin-right: auto;
}

.product-name {
    font-size: 24px; /* Размер шрифта для названия товара */
    font-weight: bold; /* Полужирный шрифт для названия товара */
}

.product-description {
    color: #555; /* Цвет текста для описания товара */
}

.product-price {
    font-size: 18px; /* Размер шрифта для цены товара */
    color: #d9534f; /* Цвет текста для цены товара (например, красный) */
}

.img-cart img {
    width: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5; /* Цвет подсветки при наведении */
}

.total-cost {
    text-align: right;
    font-size: 24px;
}

.total-cost div {
    display: flex; /* Создаем горизонтальный контейнер для кнопок */
    justify-content: flex-end; /* Размещаем кнопки справа */
    gap: 10px; /* Расстояние между кнопками */
}

.cart-button p {
    
}

.btn-continue-shopping {
    color: #ffffff;
    background-color: #ffc107;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-continue-shopping:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e8c93a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}